# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
.vs/X/v17/Browse.VC.db
.vs/X/FileContentIndex/read.lock
.vs/X/v17/.suo
.vs/X/v17/Browse.VC.db-shm
.vs/X/v17/Browse.VC.db-wal
.vs/X/v17/Browse.VC.opendb
.vs/X/v17/ipch/AutoPCH/945900ef2c39d706/MATHHELPER.ipch
.vs/X/v17/Solution.VC.db-shm
.vs/X/v17/Solution.VC.db
.vs/X/v17/Solution.VC.db-wal
.vs/X/v17/fileList.bin
.vs/X/v17/ipch/AutoPCH/1e620f3015782b87/COMMANDDICTIONARY.ipch
.vs/X/v17/ipch/AutoPCH/6e95f20ef4ce2a56/CMDSETFILLMODE.ipch
.vs/X/v17/ipch/AutoPCH/88601f08ef4950b4/VARIABLECACHE.ipch
.vs/X/v17/ipch/AutoPCH/9a76d7e0215892ff/CMDBEGINDRAW.ipch
.vs/X/v17/ipch/AutoPCH/9f938930ede1fd13/PRIMITIVESMANAGER.ipch
.vs/X/v17/ipch/AutoPCH/b7d246ffc7daeb36/CMDSETRESOLUTION.ipch
.vs/X/v17/ipch/AutoPCH/b94d33df86aa93c3/CMDENDDRAW.ipch
.vs/X/v17/ipch/AutoPCH/bd5de79a71bd7c09/CMDSETCOLOR.ipch
.vs/X/v17/ipch/AutoPCH/c5dc7a14f16de145/RASTERIZER.ipch
.vs/X/v17/ipch/AutoPCH/cd14799def3e0fa3/VERTEX.ipch
.vs/X/v17/ipch/AutoPCH/dcac7e351a0a9d06/CMDDRAWPIXEL.ipch
.vs/X/v17/ipch/AutoPCH/f5f2a1f397462ea9/CMDADDVERTEX.ipch
*.ipch
